@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
html, body{
    font-size: 100%;
    font-family: 'Overpass', sans-serif;
}
h1,h2,h3,h4,h5,h6,input,p,a,select,button{
    font-family: 'Overpass', sans-serif;
    margin:0;
}
ul,label{
    margin:0;
    padding:0;
}
body a:hover,body a{
    text-decoration:none;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.card-container {
    margin: 25px auto 0;
    position: relative;
}
.card {
    background-color: #fff;
    padding: 1em;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 1;
}
.card-body {
    display: inline-block;
    float: left;
    width: 40%;
    border-right: 1px solid #66afe9;
}
.float-rt {
    width: 60%;
    float: right;
    padding: 1em;
    text-align: right;
}
.card-author {
    display: block;
    width: 100%;
    font-size: .8em;
    letter-spacing: .5px;
    margin: 1em;
    text-transform: uppercase;
    color: #555;
}
.card-title {
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
    font-weight: 900;
    line-height: 2em;
    margin: 10px 0;
}
.pagination {
    margin-top: 2em;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active {
    background-color: #ef4a3b;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
.form-block {
    float: left;
    width: 50%;
    border: 1px solid #e7e7e7;
    padding: 15px;
}
.input[type="email"],input[type="text"], input[type="password"], .form-control{
    display: block;
    width: 100%;
    padding: 15px 10px;
    font-size: 14px;
    color: #212121;
    background: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: 25px;
    outline:none;
}
input[type="email"]:focus,input[type="text"]:focus, input[type="password"]:focus, .form-control:focus {
    border-color: #66afe9;
    outline: 0;
}
input[type="submit"], input[type="reset"], .preview-button, .logout {
    display: inline-block;
    position: relative;
    padding: 10px 0;
    width:30%;
    letter-spacing: 3px;
    background: #ef4a3b;
    font-size: 1.2em;
    color: #fff;
    border:1px solid #ef4a3b;
    outline: none;
    text-transform: capitalize;
    cursor:pointer;
    margin-right: 2.5%;
}
input[type="submit"]:hover, input[type="reset"]:hover, .preview-button:hover, .logout:hover {
    background: #fff;
    color: #212121;
    border: 1px solid #ef4a3b;
}
.preview-button {
    float: right;
    margin-top: -2.65em;
}
input[type="submit"], input[type="reset"], .preview-button, .logout{
    transition:.5s ease-in;
    -webkit-transition:.5s ease-in;
    -moz-transition:.5s ease-in;
    -o-transition:.5s ease-in;
    -ms-transition:.5s ease-in;
}
label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
    color: #212121;
    font-size: 1em;
}
h3.text-center {
    text-align: center;
    color: #ef4a3b;
    font-family: 'Cormorant Garamond', serif;
    margin: 1em;
}
.grow:hover, .grow:focus, .grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.disabled {
    pointer-events: none;
    cursor: not-allowed;
}
.preview {
    float: right;
    width: 40%;
    display: none;
}
.todo-list {
    width: 50%;
    margin: 3em auto;
}
ul {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dddddd;
}
li.done {
    display: block;
    background: #ef4a3b;
    color: #fff;
}
li.done:hover {
    background: #ef4a3b;
}
li.done::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.card-body .done,
.done span {
    text-decoration: line-through;
}
ul li {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li:hover {
    background: #ddd;
}
.todo-list form {
    width: 90%;
}
.todo-list form input {
    background: transparent;
    border: 1px solid #c6c6c6;
    color: #555;
}
.edit {
    border: none;
    background: transparent;
    color: #555;
    font-weight: 900;
    font-size: 1.5em;
    opacity: .6;
    line-height: .9em;
}
.edit:hover {
    opacity: 1;
}
.done .edit, .done .close, .done form input {
    color:#fff;
}
.logout {
    position: absolute;
    right: 2em;
    width: 150px;
    background: #0F8BAA;
    border-color: #0F8BAA;
    transform: rotate(90deg);
}
.logout:hover {
    border-color: #0F8BAA;
}
.form-login {
    width: 40%;
    margin: 10% auto;
    border-radius: 6px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.form-login form {
    padding: 15px 10px;
}
.update-todo form {
    display: none;
}
@media (max-width: 1200px) {
    .card-body {
        float: none;
        width: 100%;
        border: none;
    }
    .float-rt {
        width: 100%;
    }
}
@media (max-width: 992px) {
    .col-md-4 {
        width: 50%;
    }

    .logout {
        right: 0;
    }

    .todo-list {
        width: 80%;
        margin: 3em 0;
    }

    .form-login {
        width: 80%;
    }
}
@media (max-width: 768px) {
    input[type="submit"], input[type="reset"], .preview-button, .logout {
        font-size: .8em;
    }
    .preview-button {
        margin-top: -3.2em;
    }
}
@media (max-width: 668px) {
    .form-block {
        float: none;
        width: 80%;
        border: 1px solid #e7e7e7;
        padding: 15px;
        margin: 0 auto;
    }
    .preview {
        float: none;
        width: 80%;
        display: none;
        margin: 0 auto;
    }
    .logout{
        right: -4em;
    }
    .todo-list {
        width: 80%;
        margin: 3em 1em;
    }
}
@media (max-width: 557px) {
    .col-md-4 {
        width: 80%;
        margin: 1em auto;
    }
}